.game-area {
  align-self: center;
  position: relative;
  margin: 30px;
  width: 600px;
  height: 450px;
  border: 2px solid rgba(49, 75, 9, 0.7);
  background-color: rgba(49, 75, 9, 0.5);
}

h3 {
  position: absolute;
  /* top: -30px; */
  bottom: -30px;
  color: #6fa71c;
  font-family: "Press Start 2P", cursive;
  text-shadow: 3px 2px black;
}
