.game-area {
  align-self: center;
  position: relative;
  margin: 30px;
  width: 600px;
  height: 450px;
  border: 2px solid rgba(44, 66, 53);
  background-color: rgba(44, 66, 53, 0.5);
}

.score {
  position: absolute;
  bottom: -30px;
}
