header {
  padding: 0 10vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 8px rgba(9, 169, 3, 0.9);
  width: 100vw;
  height: 75px;
  border-bottom: 2px solid rgba(9, 169, 3, 0.7);
}
