.back-img {
  display: flex;
  flex-flow: column wrap;
  width: 100vw;
  height: 100vh;
  background-image: url("/images/jungle_leafs.png");
  background-size: cover;
  background-position: center;
}
