.game-area {
  position: relative;
  margin: 50px auto;
  width: 600px;
  height: 600px;
  border: 2px solid #000;
}

.snake-dot {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: #000;
  border: 1px solid #fff;
  z-index: 2;
}

.snake-food {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: red;
  border: 1px solid #fff;
  border-radius: 50%;
  z-index: 1;
}

h3 {
  position: absolute;
  top: -50px;
}